*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
}
.flex {
    width: 50%;
    height: 80px;

    line-height: 80px;
    background-color: #eeeeee;
    position: absolute;
    top: auto;
    left: auto;
    margin: 0 25% 0px 25%;
}
/*Thiết lập style cho thẻ ul*/
.flex ul {
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 20px 0 #cccccc;
}
/*thiết lập style cho thẻ li*/
.flex ul li {
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
}
/*tạo hiệu ứng hover cho thẻ li */
.flex ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #65bcc9;
}
/*chuyển đổi vị trí của class bar khi người dùng hover vào các con số*/
.flex ul li:hover:nth-of-type(2) ~ .bar {
    left: 20%;
}
.flex ul li:hover:nth-of-type(3) ~ .bar {
    left: 40%;
}
.flex ul li:hover:nth-of-type(4) ~ .bar {
    left: 60%;
}
.flex ul li:hover:nth-of-type(5) ~ .bar {
    left: 80%;
}
/*thiết lập style cho class bar*/
.flex ul .bar {
    width: 20%;
    background-color: dodgerblue;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s ease;
}

.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #f1f1f1;
    background: linear-gradient(#3C373D,#21262A);
    font-size: 20px;
    font-weight: 600;
    line-height: 41px;
    height: 42px;
    width: 42px;
    padding: 0;
    margin: 0 1px;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: linear-gradient(#FA5100,#BC1F00);
}
.pagination li a.page-link:before{
    content: '';
    background: #bbb;
    height: 4px;
    width: 70%;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    position: absolute;
    left: 50%;
    top: calc(100% + 3px);
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 20px;
    }
}